/*
Errno::ENOENT: No such file or directory - style.scss

Backtrace:
/Users/holamellamojuani/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.13/lib/sass/plugin/compiler.rb:360:in `read'
/Users/holamellamojuani/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.13/lib/sass/plugin/compiler.rb:360:in `update_stylesheet'
/Users/holamellamojuani/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.13/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/holamellamojuani/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.13/lib/sass/plugin/compiler.rb:201:in `each'
/Users/holamellamojuani/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.13/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/holamellamojuani/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.13/lib/sass/plugin/compiler.rb:235:in `watch'
/Users/holamellamojuani/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.13/lib/sass/plugin.rb:107:in `method_missing'
/Users/holamellamojuani/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.13/lib/sass/exec.rb:463:in `watch_or_update'
/Users/holamellamojuani/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.13/lib/sass/exec.rb:326:in `process_result'
/Users/holamellamojuani/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.13/lib/sass/exec.rb:41:in `parse'
/Users/holamellamojuani/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.13/lib/sass/exec.rb:21:in `parse!'
/Users/holamellamojuani/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.13/bin/sass:13:in `<top (required)>'
/Users/holamellamojuani/.rvm/gems/ruby-1.9.3-p327/bin/sass:19:in `load'
/Users/holamellamojuani/.rvm/gems/ruby-1.9.3-p327/bin/sass:19:in `<main>'
/Users/holamellamojuani/.rvm/gems/ruby-1.9.3-p327/bin/ruby_noexec_wrapper:14:in `eval'
/Users/holamellamojuani/.rvm/gems/ruby-1.9.3-p327/bin/ruby_noexec_wrapper:14:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory - style.scss"; }
